// header
.header {
    .navbar {
        .container-fluid {

            .navbar-brand {
                padding: 0;
                margin-right: 0 !important;

                img {
                    width: 140px;
                }
            }

            .navbar-collapse {
                flex-grow: 0;
            }

            .navbar-collapse-1 {
                display: none;
            }

            .navbar-collapse-2 {
                .navbar-nav {
                    .muti-nav {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        justify-content: space-evenly;

                        .box-1,
                        .box-2 {
                            width: 48%;
                            text-align: center;
                        }
                    }
                }
            }

            // chỉnh đường viên navbar-toggler
            .navbar-toggler {
                box-shadow: none;
                border: none;
            }

            .navbar-right {
                margin-right: 10px;

                ul {
                    gap: 0.8rem;
                    flex-direction: row;
                }
            }

            // res container-fluid
            @include media-breakpoint-up(sm) {
                .navbar-brand {
                    margin-right: 0 !important;
                }
            }

            @include media-breakpoint-up(md) {

                .navbar-right {
                    margin-right: 0;
                }

                // Hover dropdown, nav
                .dropstart-a {
                    &:hover {
                        .dropdown-menu {
                            display: block;
                            margin-top: 0;
                            margin-left: -330px;
                        }
                    }
                }

                .drop-account {
                    width: 350px;

                    .avt-account {
                        display: flex;
                        justify-content: center;

                        img {
                            border-radius: 50%;
                            width: 100px;
                        }
                    }

                    .name-account {
                        text-align: center;
                        margin-top: 10px;

                        a {
                            text-decoration: none;
                        }
                    }

                    .drop-account-btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;

                        .btn-box {
                            ul {
                                display: flex;

                                li {
                                    list-style: none;
                                }
                            }

                            a {
                                text-decoration: none;
                                background-color: #198754;
                                color: #fff;
                            }
                        }
                    }
                }

                .navbar-collapse-1 {
                    display: block;

                    .dropnav-a {
                        &:hover {
                            .dropdown-menu {
                                display: block;
                                margin-top: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }

                .navbar-collapse-2 {
                    display: none !important;
                }
            }
        }
    }
}