.product-body {
    margin-top: 65.95px;
    width: 100%;
    display: flex;
    justify-content: center;

    // Main chính
    .product-main {
        width: 100%;
        // width: 85%;
        margin: 30px 0;

        .row {
            margin: 0;
        }
    }

    // Main top
    .product-main-top {
        width: 100%;
        justify-content: center;

        .banner_right {
            display: none;
        }
    }

    .product-main-body {

        // Danh mục
        .category {
            .category-title-h4 {
                font-size: 18px;
                display: block;
                text-transform: capitalize;
                font-weight: 600;
                color: #535353;
                position: relative;
                padding: 0 0 10px;
            }

            .category-title-h4::after {
                position: absolute;
                top: auto;
                bottom: 0;
                width: 100px;
                height: 2px;
                background-color: #e1e1e1;
                content: "";
                left: 0;
            }
        }

        // Show sản phẩm
        .product-show {
            .product-item {
                &:hover {
                    .item-info {
                        box-shadow: 0 1rem 3rem rgba($black, .175);
                    }
                }
            }

            .item-info {
                box-shadow: 0 .125rem .25rem rgba($black, .075);

                // Tag
                .tag-item {

                    .discout-item,
                    .new-item {
                        border-radius: 0.3rem;
                        padding: 5px 6px;

                        span {
                            font-weight: 500;
                        }
                    }

                    .discout-item {
                        background-color: rgb(226, 31, 61);
                        color: #fff;

                    }

                    .new-item {
                        background-color: #000;
                        color: #fff;
                    }
                }

                .img-thumbnail {
                    width: 100%;
                    height: 120px;
                    border: none;

                    img {
                        min-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }

                .product-cate span {
                    font-weight: 600;
                }

                .product-name a {
                    text-decoration: none;
                }
            }
        }

        // css border item
        .border-s {
            border: 2px solid #e1e1e1;
            border-radius: 0.8rem;
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: 66.05px;

        .product-main {
            // width: 85%;
            margin: 30px 0;
        }

        .product-main-top {
            .banner_right {
                display: none;
            }
        }

        .product-main-body {
            .product-show {
                .item-info {
                    .img-thumbnail {
                        height: 165px;
                    }
                }
            }
        }

    }

    @include media-breakpoint-up(lg) {
        margin-top: 107.05px;

        .product-main {
            width: 85%;
            margin: 30px 0;
        }

        .product-main-top {
            .banner_right {
                display: block;
            }
        }

        .product-main-body {
            .product-show {
                .item-info {
                    .img-thumbnail {
                        height: 180px;
                    }
                }
            }
        }
    }
}