.ctn{
    width: 80%;
    height: 900px;
    margin: 120px auto 10px;
    display: flex;
    justify-content: space-between;
}

.asside{
    width: 33%;
    height: 300px;
    padding: 27px;
    border: 1px black;
    box-shadow: 5px black;
    background-color: lightgray;
    
}

.asside-top{
    width: 100%;
    text-align: center;
}

.asside-down{
    width: 100%;
    padding-left: 15px;
    font-size: 20px;
    font-style: normal;
}

.asside-top img{
    width: 50%;
    height: auto;
}

.content{
    width: 65%;
    height: 800px;
    background-color: lightgray ;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }