*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.topbar{
    position: fixed;
    background: #fff ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

.logo h2{
    color: #299B63;
}
.logo a{
    text-decoration: none;
}

.search{
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.user{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.userbtn{
    background-color: #299b63;
    color: white;
    padding: 16px;
    width: 100px;
    font-size: 16px;
    border: none;
  }
/*.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}*/
.user-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.user-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
}
.user-content a:hover{
    background-color: whitesmoke;
    color: #3e8e41;
}
.user:hover .user-content {
    display: block;
}
.user:hover .userbtn {
    background-color: #3e8e41;
}
/* .user i{
    position: relative;
    width: 50px;
    height: 50px;
} */

/*sidebar bắt đầu từ đây*/

.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #299B63;
    overflow-x: hidden;
}

.sidebar ul {
    margin-top: 20px;
}


.sidebar ul li {
    width: 100%;
    list-style: none;
    position: relative;
    z-index: 10;
}

.sidebar ul li a {
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
}

/* .sidebar ul li:hover ul{
    display: block;
} */

.sidebar ul li .dropdown-menu {
    background-color: #299B63;
    position: relative;
    /* display: none; */
    margin-top: -5px;
    /* padding-left: 24px; */
}



.sidebar ul li .dropdown-menu li{
    margin-top: 10px;
    font-size: 16px;
    padding-left: 60px;
    background-color: #299B63;
    color: #fff;
}

.sidebar ul li .dropdown-menu li:hover{
  background-color:#f5f5f5;
}

.sidebar ul li .dropdown-menu li:hover a {
  color: #299B63;
}



.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
            
/*main bắt đầu từ đây*/
.main{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: #f5f5f5;
}

.cards{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

 .card:hover{
    background-color: #299B63;
}


.number{
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}


.card:hover .number{
    color: #fff;
}
.card:hover .card-name{
    color: #fff;
}
.card:hover .icon-box i{
    color: #fff;
}

.card-name{
    color: #888;
    font-weight: 600;
}

.icon-box i{
    font-size: 45px;
    color: #299b63;
}

/*chart bắt đầu từ đây*/
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px ;
    padding: 20px;
    padding-top: 0;
}

.chart{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center;
}

/*reponsive bắt đầu từ đây*/
@media screen and  (max-width:1115px) {
    .sidebar{
        width: 60px;
    }
    .main {
        left: 60px;
        width: calc(100% - 60px);
    }
    .userbtn{
        padding: 16px;
        width:  80px;
        font-size: 14px;
    }
    .user-content{
        min-width: 80px;
    }
    .user-content a{
        font-size: 9px;
   
    }
    
}

@media screen and (max-width:880px) {

        .cards {
            grid-template-columns: repeat(2, 2fr);
        
        }
    
        .charts {
            grid-template-columns: 1fr;
         
        }
        .chart{
            width: 99%;
        }
        #doughnut-chart{
            padding: 50px;
        }
        #doughnut{
            padding: 50px;
        }
        
        .userbtn{
            padding: 16px;
            width:  65px;
            font-size: 12px;
        }
        .user-content{
            min-width: 65px;
        }
        .user-content a{
            font-size: 10px;
        }
    
}

.dashboard {
    position: relative;
    /* left: 250px; */
    background-color: var(--panel-color);
    min-height: 100vh;
    width: 100%;
    padding: 10px 14px;
    transition: var(--tran-05);
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
  }
  nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
  }
  .dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
  }
  .top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
  }
  .top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
  }
  .top img {
    width: 40px;
    border-radius: 50%;
  }
  .dashboard .dash-content {
    padding-top: 50px;
  }
  .dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
  }
  .dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
  }
  .dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
  }
  .boxes .box i {
    font-size: 35px;
    color: var(--text-color);
  }
  .boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
  }
  .boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
  }
  .boxes .box.box2 {
    background-color: var(--box2-color);
  }
  .boxes .box.box3 {
    background-color: var(--box3-color);
  }

  .activity{
    overflow-x: auto;
  }

  .dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .activity .activity-data {
    display: flex;
    /* overflow-x: scroll; */
  }
  
  .activity-data form .colum-big{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    width: 1656px;
    padding-left: 50px;
    padding-right: 100px;
    box-sizing: border-box;
  }

  .activity-data form .colum-big .button-area{
    margin-top: 100px;
  }

  .activity-data form .colum-big .button-area button{
    width: 100px;
    height: 30px;
  }

  .activity-data form .colum-big .colum-pro{
    width: 33%;
  }
  .activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  
  .activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
  }
  .activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
  }
  .data__list-style-name{
    padding-bottom: 69px;
    padding-top: 17px;
    text-align: center;
  }
  .data__list-style-image{
    padding-bottom: 40px;
  }
  
  button {
    background-color: #2454da;
    width: 70px;
    border-radius: 5px;
    color: white;
  }
  button:hover {
    background-color: rgb(153, 216, 246);
  }

  .activity2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .activity2 .title span{
    display: block;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activity2 .activity-data form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .img_upp img{
    height: 100%;
    width: 100%;
  }

@media screen and (max-width:500px) {
    .topbar{
        grid-template-columns: 1fr 5fr 0.4fr 1fr
    }

    .cards {
        grid-template-columns: 1fr;
    
    }

    .logo h2{
        font-size: 20px;
    }

    .search{
        width: 80%;
    }

    .search input{
        padding: 0 20px;
    }

    .fa-bell{
        margin-right: 5px ;
    }

    .user{
        width: 40px;
        height: 40px;
    }
    .chart{
        width: 99%;
    }
    #doughnut-chart{
        padding: 10px;
    }
    #doughnut{
        padding: 10px;
    }
    .userbtn{
        padding: 16px;
        width:  60px;
        font-size: 10px;
    }
    .user-content{
        min-width: 60px;
    }
    .user-content a{
        font-size: 10px;
    }
    

}


